* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;

}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
