@media (max-width:1120px){
    
    .cabecalho {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .cabecalho .logo {
        margin-bottom: 10px;
            max-width: 190px;
    }

    .cabecalho .menu{
        display: flex;
        flex-direction: row;
        font-size: 15px;
    }

    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 430px;
        margin: 0 auto;
        
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 15px;
    }

    .selecao-de-personagens .lista-de-personagens{
        gap: 9px;
    }

    .selecao-de-personagens .personagem img{
        width: 80px;
    }
    
    .personagem-selecionado .personagem-grande{
        height: 300px;
    }

    .personagem-selecionado .descricao-persogame{
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}