body {
    font-family: "Oxanium", cursive;
    background-color: black;
    color: #ffffff;
}

body::before {
    content: "";
    background-image: url(../imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

}

.cabecalho {
    display: flex;
    justify-content: center;
}

.selecao-de-personagens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: calc(100vh - 152px);

}

.selecao-de-personagens .lista-de-personagens {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


.selecao-de-personagens .personagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 25px;
    justify-content: center;
}


.selecao-de-personagens .personagens .titulo {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%;
    text-align: center;
}

.selecao-de-personagens .personagem.selecionado {
    box-shadow: 0px 0px 25px 5px #0271f7;
}

.personagem-selecionado {
    text-align: center;
    margin-right: 530px;
}

.personagem-selecionado .personagem-grande {
    width: 340px;

}

.personagem-selecionado .nome-personagem {
    letter-spacing: 4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%;
}

.personagem-selecionado .descricao-personagem {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    width: 420px;

}