body{
    font-family: "Oxanium", cursive;
    background: #000000;
    color: #ffffff;
}

body::before{
    content: "";
    background-image: url(../imagens/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-position: center;
    opacity: 0.3;

}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.cabecalho .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
    text-transform: uppercase;

  
}

.cabecalho .menu li{
    padding: 10px 15px;
    transition: 0.3s;
}

.cabecalho .menu li:hover{
    background-color: #06418a;
    color: #ffffff;
    border-radius: 50px;
}

.cabecalho .logo {
    margin-top: 10px;
    max-width: 200px;
    
}

.selecao-de-personagens{
    margin-top: 10px;
    display:flex;
    align-items: center;
    gap: 30px;
    /* min-height: calc(100vh -152px); */
    justify-content:center;
}

.selecao-de-personagens .lista-de-personagens{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.selecao-de-personagens .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 25px;
}

.selecao-de-personagens .personagens .titulo{
    font-size: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    border-bottom: 2px solid #47f4ff;
    width: 100%;
    text-align: center;
}

.lista-de-personagens .personagem img{
    width: 100%;
    height: 100%;
    transform: scale(0.9); 
    transition: transform 0.3s ease-in-out;
    filter: grayscale(100%);
    cursor: pointer;
}

.lista-de-personagens .personagem:hover img,
.lista-de-personagens .personagem.selecionado img {
  transform: scale(1); 
  filter: grayscale(0); 

}


.lista-de-personagens .personagem.selecionado{
    box-shadow: 0px 0px 24px 5px #0271f7;
}

.personagem-selecionado{
    text-align: center;
    max-height: 530px;
}

.personagem-selecionado .personagem-grande{
    margin-top: 30px;
    height: 330px;
}

.personagem-selecionado .nome-personagem{
    border-bottom: 2px solid #47f4ff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.personagem-selecionado .descricao-personagem{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;
    width: 420px;
}